.item{
    position: relative;
}
.item-delete{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    font: bold 12px/12px Arial;
    text-align: center;
    cursor: pointer;
}